  <div class="container">

  	<div class="main_content">
  		<h1>Flash'<span class='d'>d</span></h1>
  		<p class="lead">the <span class='d'>SMART</span> waiting list</p>
  		<a href="/#/register" class='btn btn-primary btn-lg' role='button'>Sign Up</a>
  	</div>
  	<div class='row'>
  		<div class='col-md-4'>
        <img src="img/messy.jpg" class='img-circle' height='150' width='150'>
        <h2>Ditch the clipboard!</h2>
        <p class='meat'>
          No more fuss, no more muss. Flash'd can easily help you by:
          <ul class='meat'>
            <li>
              <p>Adding guests to the waiting list</p>
            </li>
            <li>
              <p>Mark guests as "finished" for easy organization</p>
            </li>
            <li>
              <p>Remove guests once they've been called</p>
            </li>
          </ul>
          All in just a few clicks of the mouse. No more paper, no more mess.
        </p>
      </div>
      <div class='col-md-4'>
        <img src="img/yell.jpg" class='img-circle' height='150' width='150'>
        <h2>No...more...yelling</h2>
        <p class='meat'>
          Flash'd makes it exceptionally simple for your employees to notify customers that their ready to be seated without losing their voice. How? Simple: at the click of a button Flash'd will send wait listed customers a text message letting them know that they are ready to be seated! Save your voice, send a text!
        </p>
      </div>
      <div class='col-md-4'>
       <img src="img/pager.jpg" class='img-circle' height='150' width='150'>
       <h2>Bulky pagers...NO MORE!</h2>
       <p class='meat'>
        Having bulky table pagers with distance limitations can be both costly and inconvenient. Flash'd gives added benefit to your business and the customer in that it elminates the need to keep track of bulky pagers AND your clients can leave the immediate area if the wait is long (great for restaurants attached to a shopping mall!).  
      </p>  
    </div>

  </div>

</div>
